:root {
  --main-text-color: #434455;
  --main-title-color: #2e2f42;
  --main-background-color: #ffffff;
  --hero-text-color: #ffffff;
  --second-background-color: #f4f4fd;
  --hero-footer-color: #2e2f42;
  --main-button-color: #4D5AE5;
  --hover-focus-color: #404BBF;
  --border-color: #e7e9fc;
  --modal-focus-color: #4D5AE5;
  --footer-form-color: #FFFFFF;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

p,h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

ul{
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
    display: block;
}

textarea {
  resize: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
}

.container {
width: 1158px;
padding-left: 15px;
padding-right: 15px;
margin: 0 auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-title-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/*----------------------------- HEADER */
.header{
background-color: var(--main-background-color);
border-bottom: 1px solid var(--border-color);
}

.header-container{
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-navigation {
   display: flex;
   align-items: center;
    }

.header-logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: calc(24 / 18);
  display: flex;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo-one {
  color: var(--main-button-color);
}

.header-list {
  display: flex;
  gap: 40px;
  margin-left: 76px;
  }

.header-link {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding: 24px 0;
  color: var(--main-title-color);
  transition: color 250ms var(--transition-timing-function);
}

.header-link.active {
color: var(--hover-focus-color);
}

.header-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;

  display: none;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--hover-focus-color);
}
 
.active::after{
  display: block;
}

.header-link:is(:hover, :focus) {
  color: var(--hover-focus-color);
    }

.address{
margin-left: auto;
}

.address-list {
  display: flex;
  gap: 40px;
}

.header-address {
  display: block;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  color: inherit;
  transition: color 250ms var(--transition-timing-function);
}

.header-address:is(:hover, :focus) {
  color: var(--hover-focus-color);
  }

/* -----------------------------------HERO */

.hero{
  background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), 
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1440px;
}

.hero-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 188px;
  padding-bottom: 188px;
  }

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: calc(60 / 56);
  text-align: center;
  letter-spacing: 0.02em;
  width: 496px;
  color: var(--hero-text-color);
  margin-bottom: 48px;
}

.hero-btn {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--hero-text-color);
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  background-color: var(--main-button-color);
  transition: background-color 250ms var(--transition-timing-function);
}

.hero-btn:is(:hover, :focus) {
    background-color: var(--hover-focus-color);
  }

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transition: opacity 250ms var(--transition-timing-function);
  }

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal{
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
    
  width: 408px;
  height: 584px;
  padding: 24px;
  border-radius: 4px;
  background-color: #FCFCFC;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--transition-timing-function);
}

.modal-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  width: 24px;
  height: 24px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: rgba(231, 233, 252, 1);
  outline: 0;
  margin-bottom: 24px;
}

.modal-close-btn:active {
  fill: #ffffff;
  background-color: #404BBF;
}

.modal-title{
font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
margin-bottom: 16px;
}

.modal-label {
font-size: 12px;
line-height: calc(16/12);
letter-spacing: 0.04em;
color: #8E8F99;
}

.input-wrap {
  position: relative;
  margin-bottom: 8px;
}

.modal-input {
width: 100%;
height: 40px;
border: solid 1px rgba(33, 33, 33, 0.2);
border-radius: 4px;
padding-left: 40px;
outline: 0;
transition: border-color 250ms var(--transition-timing-function);
}

.modal-input:focus {
  border-color: var(--modal-focus-color);
}
  
.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms var(--transition-timing-function);
}

.modal-input:focus + .modal-icon {
  fill: var(--modal-focus-color);
}

.modal-textarea {
width: 100%;
height: 120px;
border: solid 1px rgba(33, 33, 33, 0.2);
border-radius: 4px;
padding: 8px 16px;
outline: 0;
margin-bottom: 8px;
}

.modal-textarea::placeholder {
  font-family: "Roboto";
  font-size: 12px;
  line-height: calc(16/12);
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.check-text {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: calc(14/12);
  letter-spacing: 0.04em;
}

.check-text .checkbox {
  width: 16px;
  height: 16px;
  border: solid 1.25px #2e2f42;
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.input-check:checked + .check-text .checkbox {
  background-color: var(--modal-focus-color);
  border: none;
  fill: #f4f4fd;
}

.policy-link {
  padding-left: 5px;
  }

.modal-submit-btn{
  display: block;
  width: 169px;
  margin: 24px auto;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--hero-text-color);
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  outline: 0;
  background-color: var(--main-button-color);
  transition: background-color 250ms var(--transition-timing-function);
}

.modal-submit-btn:is(:hover, :focus) {
    background-color: var(--hover-focus-color);
  }  

  /* ----------------------section FEATURES */
  
.features{
  background-color: var(--main-background-color);
} 

.features-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-background-color);
  }

.features-list {
  display: flex;
  gap: 24px;
  }

.features-item {
  display: flex;
  flex-direction: column;
  width: 264px;
}

.feature{
height: 112px;
display: flex;
justify-content: center;
align-items: center;
background-color: var(--second-background-color);
margin-bottom: 8px;
}

.feature-icon{
fill: #2e2f42; 
}

.features-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  margin-bottom: 8px;
}

.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ----------------------section ACTIVITY */

.activity{
background-color: var(--main-background-color);
padding-top: 0;
}

.activity-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
  }

.activity-title {
  display: flex;
  margin-bottom: 72px;
}

.activity-list {
display: flex;
gap: 24px;
}

/* -------------------------section TEAM */

.team{
background-color: var(--second-background-color);
}

.team-container{
  display: flex;
  flex-direction: column;
  align-items:center;
  }

.team-title {
  display: flex;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-card {
  display: flex;
  flex-direction: column;
  align-items:center;
  background-color: var(--main-background-color);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
  0px 1px 1px 0px rgba(46, 47, 66, 0.16),
  0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }

.card-info{
  display: block;
  text-align: center;
  padding: 32px 16px;
  }

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  margin-bottom: 8px;
}

.team-specialty {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-soc-item {
  width: 40px;
  height: 40px;
}
.team-soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--main-button-color);
  transition: background-color 250ms var(--transition-timing-function);
}

.team-soc-icon{
fill: #f4f4fd;
}

.team-soc-link:is(:hover, :focus) {
  background-color: var(--hover-focus-color);
  }
/* --------------------------------CUSTOMERS*/
.customers {
  background-color: var(--main-background-color);
}

.customers-container {
  display: flex;
  flex-direction: column;
  align-items:center;  
}

.customers-title {
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.customer-item {
  width: 168px;
  height: 88px;
  }

.customer-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8E8F99;
  border-radius: 4px;
  color: #8E8F99;
  transition: color 250ms var(--transition-timing-function),
  border-color 250ms var(--transition-timing-function);
  }

.customer-icon {
 fill: currentColor;
}

.customer-link:is(:hover, :focus) {
  color: var(--hover-focus-color);
  border-color: var(--hover-focus-color);
  }

/* ------------------------------FOOTER */

.footer{
 background-color: var(--hero-footer-color);
 padding: 100px 0px;
}

.footer-container {
  display: flex;
  align-items: baseline;
 }

.footer-logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: calc(21 / 18);
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
  color: #f4f4fd;
}

.footer-logo-one {
  color: var(--hover-focus-color);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
  width: 264px;
}

.footer-soc {
  margin-left: 120px;
}

.soc-text {
  display: block;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 16px;  
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #434455;
  transition: background-color 250ms var(--transition-timing-function);
}
.footer-soc-icon{
  fill: #f4f4fd;
}
.footer-soc-link:is(:hover, :focus) {
  background-color: #31D0AA;
  }

  .sending {
    margin-left: 80px;
}

.sending-text {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--footer-form-color);
  margin-bottom: 16px; 
}

.sending-wrap {
  display: flex;
}

.sending-input {
  width: 264px;
  height: 40px;
  border: solid 1px var(--footer-form-color);
  border-radius: 4px;
  padding-left: 16px;
  background-color: transparent;
  }

.sending-input::placeholder {
font-family: "Roboto";
font-weight: 400;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
color: var(--footer-form-color);
}

.sending-btn {
  display: inline-flex;
  justify-content: space-between;
  width: 165px;
  height: 40px;
  padding: 8px 24px;
  margin-left: 24px;
  border-radius: 4px;
  border: none;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--footer-form-color);
  background-color: var(--main-button-color);
  transition: background-color 250ms var(--transition-timing-function);
}

.sending-icon {
  fill: currentColor;
}

.sending-btn:is(:hover, :focus) {
    background-color: var(--hover-focus-color);
}
/* ---------------------------------PORTFOLIO -- */
.portfolio{
  background-color: var(--main-background-color);
  padding-top: 96px;
}
/* !-----------------------------------FILTER --*/

.filter-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 0;
  margin-bottom: 72px;
}

.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: justify;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  border: 1px solid #E7E9FC;
  border-radius: 4px;
  background-color: var(--second-background-color);
  color: var(--main-button-color);
  transition: color 250ms var(--transition-timing-function),
  background-color 250ms var(--transition-timing-function),
  box-shadow 250ms var(--transition-timing-function); 
}

.portfolio-btn:is(:hover, :focus) {
  color: #FFFFFF;
  background-color: #404BBF;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
  0px 2px 1px 0px rgba(0, 0, 0, 0.08),
  0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  }

/* ---------------------------WORK EXAMPLES -- */
.examples-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: start;
  row-gap: 48px;
  column-gap: 24px;
  }

.examples-item {
  display: flex;
  flex-direction: column;
  align-items:center;
  text-align: start;
  }

.example-link:is(:hover, :focus) {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
  0px 1px 1px rgba(46, 47, 66, 0.16),
  0px 2px 1px rgba(46, 47, 66, 0.08);
}

.example-link:hover .overlay-text{
  transform: translateY(0);
  }

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  padding-top: 40px;
  padding-right: 30px;
  padding-left: 30px;
  
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: .02em;
  color: #f4f4fd;
  background-color: var(--main-button-color);
  transform: translateY(100%);
  transition: transform 250ms var(--transition-timing-function);
}

.example-link-info{
  padding: 32px 16px;
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}

.examples-subtitle {
  font-weight: 500;
    font-size: 20px;
    line-height: calc(24/20);
    letter-spacing: 0.02em;
    color: var(--main-title-color);
    margin-bottom: 8px;
}

.examples-type {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  }
